<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %} {% endblock %} - Travel Agency App</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon"  href="{{ url_for('static', filename='assets/favicon.ico') }}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link  href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/datatables-simple-demo.js') }}"></script>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="{{ url_for('home') }}">Worldtour Travel Agency</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a id="Home" class="nav-link" aria-current="page" href="{{ url_for('home') }}">Home</a></li>
                        <li class="nav-item"><a id="Country" class="nav-link" href="{{ url_for('country') }}">Country</a></li>
                        <li class="nav-item"><a id="Customer" class="nav-link" href="{{ url_for('customer') }}">Customer</a></li>
                        <li class="nav-item"><a id="Booking" class="nav-link" href="{{ url_for('trvlitinerary') }}">Booking</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            {% block content %} {% endblock %}
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Jitul Chanar 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <script>
            $( document ).ready(function() {
               pageURL = $(location).attr("href");
               urlArray = pageURL.split("/");
               curNav = urlArray[3]; 
               if (curNav == "index"){
                  $("#Home").addClass("active")
               } else if (curNav == "country"){
                  $("#Country").addClass("active")
               } else if (curNav == "customer" || curNav == "customerform" || curNav == "editcustomer" || curNav.includes("delcustomerconf") || curNav == "delcustomer"){
                  $("#Customer").addClass("active")
               } else if (curNav == "trvlitinerary" || curNav == "trvlitineraryform" || curNav == "edititinerary" || curNav.includes("delitineraryconf") || curNav == "delitinerary"){
                  $("#Booking").addClass("active")
               } else {
                  $("#Home").addClass("active")
               };
            });
         </script>   
    </body>
</html>
