{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Travel Updates {% endblock %}</h1>
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Air Travel Update</h2>
                    <p class="card-text">Singapore Airlines (SIA) has rolled out complimentary unlimited in-flight Wi-Fi for all Business Class customers, as well as its PPS Club members and PPS Club supplementary card holders. In addition, KrisFlyer members now enjoy free three-hour Wi-Fi plans when travelling in Premium Economy Class and free two-hour Wi-Fi plans when travelling in Economy Class.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Rail Travel Update</h2>
                    <p class="card-text">JR Kyushu has announced the long-awaited debut of its new Shinkansen “Kamome” service between Nagasaki and Takeo Onsen on September 23rd this year. This new six-car bullet train will run on the Kyushu Shinkansen’s newly expanded western route.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Cruise Promotions</h2>
                    <p class="card-text">Join Royal Caribbean® on a 3-night or 4-night Cruise from Singapore. Fill every moment onboard this groundbreaking ship with sunshine, good times and wow-worthy experiences. And rest assured your health and well-being is our top priority. We’ve taken every consideration in making your vacation safer, so you can focus on experience.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
    </div>
{% endblock %}
